body {
    font-family: fantasy;
    background: url("https://avatars.mds.yandex.net/i?id=b1bff9d40ee3392a57a2f58f44ec4578_l-12421984-images-thumbs&n=13");
    background-size: 100%;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.3);
}

button {
    width: 50px;
    height: 20px;
    cursor: pointer;
    color: #eee;
    background: none;
    background-color: #00000044;
    backdrop-filter: blur(10px);
    border-style: solid;
    border: 1px solid #00000044;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}